UI-MVC/Service References/ServiceReference1/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SC.BL.Domain" />
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="GetTicketsResult" nillable="true" type="q1:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHwTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHwTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="GetHwTicketsResult" nillable="true" type="q2:ArrayOfHardwareTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="GetTicketResult" nillable="true" type="q3:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="CreateTicketResult" nillable="true" type="q4:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHwTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHwTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="CreateHwTicketResult" nillable="true" type="q5:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNumber" type="xs:int" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isClientResponse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTicketResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="AddTicketResponseResult" nillable="true" type="q6:TicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SC.BL.Domain" minOccurs="0" name="GetTicketResponsesResult" nillable="true" type="q7:ArrayOfTicketResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>